@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --cor0: #1c326e;
    --cor1: #ff6501;
    --cor2: #ffffff;
    --cor3: #e4dfdb;
    --cor4: #e7e7e7;
    --cor5: #292929;
    --cor6: #2a4699;

    --fontepadrao: 'Roboto', Arial, monospace;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    touch-action: pan-x pan-y;
}

body {
    width: 100vw;
    overflow: hidden;
    background-color: var(--cor0);
    font-family: var(--fontepadrao);
}

/*---------------------------------------------------------*/

header {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 40px 0px;
}

header > nav {
    padding-left: 300px;
}

header > nav > a {
    padding: 0px 40px;

    text-decoration: none;
    color: var(--cor3);
    font-weight: 700;
}

header > nav > a:hover {
    color: var(--cor2);
}

/*---------------------------------------------------------*/

#inicio {
    background-color: var(--cor2);

    margin: auto;
    width: 65%;
    margin-bottom: 150px;
    border-radius: 10px;
}

#inicio > #centralizar > article {
    width: 35%;
    padding-left: 20px;
}

#inicio > #centralizar > article > h1 {
    color: var(--cor6);
    padding-bottom: 40px;
    font-size: 3em;
}

#inicio > #centralizar > article > h1 > strong {
    color: var(--cor1);
}

#inicio > #centralizar > article > p {
    color: var(--cor5);
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
}

#inicio > #centralizar > div {
    margin-bottom: -4px;
}

#centralizar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
}

/*---------------------------------------------------------*/

main {
    padding-top: 40px;
    background-color: var(--cor4);
}

.topicos {
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 44%;
    margin: auto;
}

.conteudo {
    display: flex;
    align-items: start;
    justify-content: left;
    flex-direction: column;

}

.conteudo > h2 {
    color: var(--cor6);
    padding-bottom: 20px;
    font-size: 45px;
}

.conteudo > h3 {
    color: var(--cor5);
    padding-bottom: 10px;
    font-size: 30px;
}

.conteudo > p {
    color: var(--cor5);
    padding-bottom: 50px;
    font-size: 20px;
}

.conteudo > div {
    background-color: var(--cor2);
    box-shadow: 0px 0px 1px 0px var(--cor0);
    border-radius: 10px;

    margin-bottom: 10px;
    width: 440px;
    padding: 10px 20px;
}

.conteudo > div > h4 {
    color: var(--cor6);
    font-size: 17px;
}

.conteudo > div > p {
    color: var(--cor5);
    font-size: 14px;
}

.conteudo > a {
    background-color: var(--cor1);
    color: var(--cor2);
    text-decoration: none;
    font-weight: bolder;

    padding: 20px 30px;
    border-radius: 30px;
    margin-top: 50px;
}

.conteudo > a:hover {
    background-color: #a34100;
}

.comp_conteudo {
    width: 295px;
    display: flex;
    flex-direction: column;
}

.linha {
    height: 1px;
    width: 200px;
    background-color: var(--cor1);
    margin-bottom: 15px;
}

.comp_conteudo > img {
    border-radius: 10px;
}

.comp_conteudo > h5 {
    color: var(--cor6);
    margin: 20px 0px;
    font-size: 20px;
}

.comp_conteudo > p {
    color: var(--cor5);
    font-size: 18px;
    line-height: 25px;

    width: 300px;
}

.comp_conteudo > a {
    background-color: var(--cor1);
    color: var(--cor2);
    text-decoration: none;
    font-weight: bolder;

    padding: 20px 30px;
    border-radius: 30px;
    margin-top: 50px;
}

.comp_conteudo > a:hover {
    background-color: #a34100;
}

.caixas > h4 {
    padding: 10px 0px 15px 30px;
}

.caixas > img {
    width: 25px;
    height: 25px;
    position: absolute;
    margin-top: 9px;
}

/*---------------------------------------------------------*/

footer {
    background-color: var(--cor6);
    padding: 60px 0px 10px 0px;
}

#rodape {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
    margin: auto;
    padding-bottom: 10px;
}

#cont_rodape {
    display: flex;
    flex-direction: column;
    width: 290px;
}

#cont_rodape > p {
    color: var(--cor2);
    font-weight: 300;
    line-height: 25px;
    padding-top: 20px;
}

#links_rodape {
    display: flex;
    flex-direction: column;
}

#links_rodape > h6 {
    color: var(--cor1);
    font-size: 18px;
    padding-bottom: 20px;
}

#links_rodape > a {
    text-decoration: none;
    font-size: 13px;
    color: var(--cor2);
}

#redes_sociais {
    flex-direction: row;
}

#redes_sociais > a > img {
    margin: 60px 15px 0px 0px;
}

#traco {
    height: 1px;
    width: 80%;
    background-color: var(--cor3);
    margin: auto;
}

#final {
    padding-top: 30px;
    margin: auto;
    width: 368px;
    text-align: justify;
}

#final > p {
    color: var(--cor2);
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    font-style: italic;
}

/*--------------------------Para o JavaScript--------------------------*/

.caixas {
    cursor: pointer;
    user-select: none;
}

.caixas_conteudo {
    display: none;
    padding: 10px;
    border-top: none;
}

.caixas_titulo {
    padding: 10px;
}